Repository over7-maker/Advanced-Multi-Agent-Intelligence-System: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-secrets, validate-api-schema, validate-config

.pre-commit-config.yaml:

# AMAS Pre-commit Configuration
# Automated code quality checks before commits

repos:
  # Python code formatting
  - repo: https://github.com/psf/black
    rev: 23.11.0
    hooks:
      - id: black
        language_version: python3.11
        args: [--line-length=88]

  # Import sorting
  - repo: https://github.com/pycqa/isort
    rev: 5.12.0
    hooks:
      - id: isort
        args: [--profile=black, --line-length=88]

  # Linting
  - repo: https://github.com/pycqa/flake8
    rev: 6.1.0
    hooks:
      - id: flake8
        args: [--max-line-length=88, --extend-ignore=E203,W503]
        additional_dependencies: [flake8-docstrings, flake8-bugbear]

  # Security scanning
  - repo: https://github.com/pycqa/bandit
    rev: 1.7.5
    hooks:
      - id: bandit
        args: [-r, src/, -f, json, -o, bandit-report.json]
        files: ^src/

  # Type checking
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.7.1
    hooks:
      - id: mypy
        additional_dependencies: [types-all]
        args: [--strict, --ignore-missing-imports]
        files: ^src/

  # General code quality
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
        args: [--maxkb=1000]
      - id: check-case-conflict
      - id: check-merge-conflict
      - id: check-json
      - id: check-toml
      - id: check-xml
      - id: debug-statements
      - id: detect-private-key
      - id: mixed-line-ending
      - id: requirements-txt-fixer

  # Documentation
  - repo: https://github.com/pycqa/doc8
    rev: v1.1.1
    hooks:
      - id: doc8
        args: [--max-line-length=88]

  # Shell scripts
  - repo: https://github.com/koalaman/shellcheck-precommit
    rev: v0.9.0
    hooks:
      - id: shellcheck

  # Dockerfile linting
  - repo: https://github.com/hadolint/hadolint
    rev: v2.12.0
    hooks:
      - id: hadolint-docker
        args: [--ignore, DL3008, --ignore, DL3009]

  # YAML formatting
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v3.1.0
    hooks:
      - id: prettier
        types: [yaml]

  # Commit message formatting
  - repo: https://github.com/commitizen-tools/commitizen
    rev: 3.13.0
    hooks:
      - id: commitizen
        stages: [commit-msg]

# Configuration
default_language_version:
  python: python3.11

default_stages: [commit]

# Custom hooks
repos:
  - repo: local
    hooks:
      # Custom security check
      - id: check-secrets
        name: Check for secrets
        entry: python scripts/development/check_secrets.py
        language: python
        files: ^(src/|tests/|config/).*\.py$
        
      # API schema validation
      - id: validate-api-schema
        name: Validate API schema
        entry: python scripts/development/validate_api_schema.py
        language: python
        files: ^src/amas/api/.*\.py$
        
      # Configuration validation
      - id: validate-config
        name: Validate configuration
        entry: python -c "from src.amas.config import get_settings; get_settings()"
        language: python
        files: ^src/amas/config/.*\.py$
        pass_filenames: false

# CI integration
ci:
  autofix_commit_msg: 'style: auto-fix pre-commit hooks'
  autofix_prs: true
  autoupdate_commit_msg: 'chore: update pre-commit hooks'
  autoupdate_schedule: weekly

🤖 Multi-Agent: Advanced project improvements
  comprehensive_improvement_report.md
  improvement_report_20251003_033447.md
  multi_agent_results_20251003_033447.json
Due: none

Refactor: Update AMAS configuration and artifact reports
  .env.example
  PR_70_FIX_SUMMARY.md
  artifacts/enhanced_code_review_report.md
  artifacts/incident_response_report.md
  artifacts/master_orchestration_report.md
  artifacts/osint_report.md
  artifacts/threat_intelligence_report.md
  docker-compose.test.yml
  fix_imports.py
  improvement_report_20251003_033926.md
  multi_agent_results_20251003_033926.json
  setup.py
  test_simple_auth.py
  tests/e2e/__init__.py
  tests/e2e/test_api_health.py
  tests/performance/load_test.py
  tests/unit/__init__.py
  tests/unit/test_basic.py
Due: check-secrets

Add scripts to automate merge conflict resolution
  CONFLICT_FIX_COMMANDS.sh
  auto_fix_conflict.py
Due: none

Remove conflict resolution scripts and instructions
  CONFLICT_FIX_COMMANDS.sh
  SIMPLE_FIX.txt
  auto_fix_conflict.py
Due: none

feat: Implement unified orchestrator and AI router
  .env.template
  AMAS_ACTION_PLAN.md
  AMAS_QUICK_START.md
  ai_fallback_config.json
  api_validation_report.json
  scripts/run_unified_orchestrator.py
  scripts/test_openrouter_direct.py
  scripts/test_unified_router.py
  scripts/validate_api_config.py
  src/amas/agents/unified_ai_router.py
  src/amas/core/unified_orchestrator.py
Due: check-secrets

docs: Add guide to fix failing GitHub action
  FIX_GITHUB_ACTION.md
Due: none

feat: Implement comprehensive AI-powered project upgrade system
  .github/AI_POWERED_PROJECT_UPGRADE_SYSTEM.md
  .github/scripts/ai_code_improver.py
  .github/scripts/ai_comprehensive_analyzer.py
  .github/scripts/ai_comprehensive_reporter.py
  .github/scripts/ai_documentation_generator.py
  .github/scripts/ai_performance_optimizer.py
  .github/scripts/ai_security_enhancer.py
  .github/scripts/ai_test_generator.py
  .github/scripts/ai_upgrade_planner.py
  .github/scripts/ai_user_interaction_handler.py
  .github/scripts/ai_user_interaction_processor.py
  .github/workflows/ai-powered-project-upgrade-system.yml
  AI_POWERED_UPGRADE_SYSTEM_SUMMARY.md
Due: none

🤖 Multi-Agent: Advanced project improvements
  comprehensive_improvement_report.md
  improvement_report_20251003_064954.md
  multi_agent_results_20251003_064954.json
Due: none

🤖 Multi-Agent: Advanced project improvements
  comprehensive_improvement_report.md
  improvement_report_20251003_131646.md
  multi_agent_results_20251003_131646.json
Due: none

🤖 Multi-Agent: Advanced project improvements
  comprehensive_improvement_report.md
  improvement_report_20251003_184714.md
  multi_agent_results_20251003_184714.json
Due: none

🤖 Multi-Agent: Advanced project improvements
  comprehensive_improvement_report.md
  improvement_report_20251004_030145.md
  multi_agent_results_20251004_030145.json
Due: none

🤖 Multi-Agent: Advanced project improvements
  comprehensive_improvement_report.md
  improvement_report_20251004_031801.md
  multi_agent_results_20251004_031801.json
Due: none

🤖 Multi-Agent: Advanced project improvements
  comprehensive_improvement_report.md
  improvement_report_20251004_064525.md
  multi_agent_results_20251004_064525.json
Due: none

🤖 Multi-Agent: Advanced project improvements
  comprehensive_improvement_report.md
  improvement_report_20251004_130315.md
  multi_agent_results_20251004_130315.json
Due: none

Refactor: Add dependency testing and fallback for optional packages
  .github/scripts/test_dependencies.py
  .github/workflows/ai-powered-project-upgrade-system.yml
  CI_FAILURE_FIX_SUMMARY.md
Due: none

Fix: Remove trailing comma and add bandit report
  bandit-report.json
  src/amas/agents/investigation/link_analysis.py
Due: check-secrets

Fix: Remove hardcoded passwords and update bandit findings
  bandit-report.json
  src/amas/api/main.py
  src/amas/cli.py
  src/amas/config/settings.py
  src/amas/services/advanced_analytics_service.py
  src/amas/services/advanced_optimization_service.py
  src/amas/services/ml_service.py
  src/amas/services/n8n_integration.py
  src/amas/services/security_service.py
  src/amas/services/vector_service.py
Due: check-secrets, validate-api-schema, validate-config

🤖 Multi-Agent: Advanced project improvements
  comprehensive_improvement_report.md
  improvement_report_20251004_160630.md
  multi_agent_results_20251004_160630.json
Due: none

feat: Implement comprehensive security enhancements for AI scripts
  .github/scripts/ai_code_improver.py
  .github/scripts/ai_comprehensive_analyzer.py
  .github/scripts/ai_config.yaml
  .github/scripts/ai_security_utils.py
  .github/scripts/test_ai_security.py
  AI_SECURITY_IMPROVEMENTS.md
  SECURITY_IMPROVEMENTS_COMPLETE.md
Due: none

🤖 Multi-Agent: Advanced project improvements
  comprehensive_improvement_report.md
  improvement_report_20251004_161547.md
  multi_agent_results_20251004_161547.json
Due: none

Fix: Remove non-existent cerebras package from CI and tests
  .github/scripts/test_dependencies.py
  .github/workflows/ai-powered-project-upgrade-system.yml
  CI_CEREBRAS_FIX_SUMMARY.md
  COMPREHENSIVE_FIXES_SUMMARY.md
Due: none

Refactor: Handle optional Cerebras import gracefully
  FINAL_CEREBRAS_FIX_SUMMARY.md
  src/amas/services/ultimate_fallback_system.py
Due: check-secrets

🤖 Multi-Agent: Advanced project improvements
  comprehensive_improvement_report.md
  improvement_report_20251004_164915.md
  multi_agent_results_20251004_164915.json
Due: none

🤖 Multi-Agent: Advanced project improvements
  comprehensive_improvement_report.md
  improvement_report_20251004_184246.md
  multi_agent_results_20251004_184246.json
Due: none

🔒 SECURITY: Fix critical eval() vulnerability in audit.py - Replace with secure condition evaluation
  src/amas/security/audit.py
Due: check-secrets

🔒 SECURITY: Fix critical eval() vulnerability in authorization.py - Replace with secure rule evaluation
  src/amas/security/authorization.py
Due: check-secrets

🔒 SECURITY: Fix hardcoded password vulnerabilities in database_service.py - Use environment variables
  src/amas/services/database_service.py
Due: check-secrets

🔒 SECURITY: Fix path traversal and eval() detection vulnerabilities in verify_security_fixes.py
  scripts/verify_security_fixes.py
Due: none

🔒 SECURITY: Complete security hardening script - Final fixes for PR merge
  scripts/complete_security_hardening.py
Due: none

🔒 SECURITY: Final fix - All vulnerabilities eliminated
  .env.example
  .github/scripts/ai_code_analyzer.py
  .github/scripts/security_false_positive_analyzer.py
  .github/scripts/verify_security_fixes.py
  examples/simple_functionality_test.py
  scripts/complete_security_hardening.py
  scripts/final_correct_verification.py
  scripts/final_security_verification.py
  scripts/find_exact_eval_locations.py
  scripts/phase1_setup.py
  scripts/production_ready_verification.py
  scripts/surgical_eval_fix.py
  scripts/ultimate_final_verification.py
  scripts/ultimate_security_check.py
  scripts/ultimate_security_fix.py
  scripts/verify_security_fixes.py
  src/amas/security/audit.py
  src/amas/security/authorization.py
  src/amas/security/encryption.py
  src/amas/services/database_service.py
  src/amas/utils/__init__.py
  src/amas/utils/security_utils.py
  tests/test_security_fixes.py
  tests/test_services.py
Due: check-secrets

🔧 CLEANUP: Remove intermediate security scripts - keeping final versions
  scripts/final_correct_verification.py
  scripts/find_exact_eval_locations.py
  scripts/ultimate_security_fix.py
Due: none

Refactor: Enhance security and production readiness
  PRODUCTION_DEPLOYMENT.md
  PRODUCTION_READINESS_CHECKLIST.md
  PROJECT_COMPLETION_SUMMARY.md
  SECURITY_FIXES_SUMMARY.md
  scripts/security_hardening.py
  scripts/verify_security_fixes.py
  src/amas/security/audit.py
  src/amas/security/authorization.py
  src/amas/security/secure_config.py
  src/amas/services/database_service.py
  tests/test_security_fixes.py
Due: check-secrets

🔧 FIX: Syntax error in ai_code_analyzer.py line 334 - Fix unterminated string
  .github/scripts/ai_code_analyzer.py
Due: none
